div.post-page div.image{
    max-height: 400px;
    margin-top: 20px;
    
    overflow: hidden;
}

div.post-page div.image img{
    object-fit: contain;
    object-position: center center;
}

div.post-page a{
    color:#333;
    text-decoration: underline;
}

div.post-page h1{
    text-align: center;
}

div.post-page div.content p{
    line-height: 1.6rem;
}